% my (%h) = @_;

<%= Template::Mojo.new(slurp "views/incl/header.tmpl").render(%h); %>


<form action="/add" method="POST">
  <div class="form-group">
    <label for="text">Add TODO Item</label>
    <input type="text" id="text" name="text">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<table>
    <tr><th>Item</th><th>Added</th></tr>
% for %h<list>.list -> $e {
    <tr><td><%= $e<text> %></td><td></td></tr>  
%}
</table>

<%= Template::Mojo.new(slurp "views/incl/footer.tmpl").render(%h); %>
